<ion-header>
  <ion-toolbar>
    <ion-title>Second</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

    <ion-list>
      <ion-item *ngFor="let item of items">
        <h5>{{item}}</h5>
        <ion-thumbnail slot="start">
          <img src="http://placehold.it/75" />
        </ion-thumbnail>
      </ion-item>
    </ion-list>
    
    <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
      <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>

</ion-content>
