<ion-header>
  <ion-toolbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

	<ion-button routerLink="/second" routerDirection="/forward">Lots of DOM Elements</ion-button>

	<ion-button routerLink="/third" routerDirection="/forward">Launch Leaky Page</ion-button>

</ion-content>
